In [13]:
import pandas as pd

#load the html file:
tables = pd.read_html("capacityTable.html")
df = tables[0]#get the first table
df = df[df["Status"] == "Active"]#only get the active cables
df = df[["Name", "Short Name", "Capacity(in Gbps)"]]
df.columns = ["name", "shortName", "capacity"]

print(df.shape)
df.head()

(352, 3)

                                  name shortName  capacity
0            ACS Alaska-Oregon Network     AKRON      2621
1                        Aden-Djibouti       NaN         0
2                              ADRIA-1       NaN         0
4  Africa Coast to Europe Cable System       ACE      5120
6                   Alaska United East   AU-East        50

In [14]:
df.to_csv("cableCapacities.csv", index=False)

In [15]:
dfCSV = pd.read_csv("cableCapacities.csv")
dfCSV.head()

                                  name shortName  capacity
0            ACS Alaska-Oregon Network     AKRON      2621
1                        Aden-Djibouti       NaN         0
2                              ADRIA-1       NaN         0
3  Africa Coast to Europe Cable System       ACE      5120
4                   Alaska United East   AU-East        50